body {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma,
    Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.navbar {
  min-height: 10vh;
  width: 100%;
  background-color: #f4ede4;
}

.tan-1 {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4ede4;
}

.tan-1-left {
  min-height: 20vh;
  width: 35%;
  background-color: #f4ede4;
}

h1 {
  font-size: 50px;
  margin: 0;
  margin: 10px 0 20px 0;
}

#text1 {
  font-size: 14px;
  font-weight: 500;
}

#text2 {
  font-size: 20px;
  margin-bottom: 30px;
}

#img1 {
  width: 40%;
}

.buttons {
  border: #601e69 solid 1px;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 550;
  cursor: pointer;
  box-sizing: border-box;
}

#button1 {
  background-color: #601e69;
  color: white;
  padding: 20px 30px 20px 30px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

#button1:hover {
  background-color: #4a154b;
}

#button2 {
  color: #601e69;
  background-color: transparent;
  border-radius: 3px;
  padding: 20px 40px 20px 40px;
  transition: box-shadow 0.5s;
}

#button2:hover {
  box-shadow: inset 0 0 0 1px #601e69;
}

.tan-2 {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #f4ede4;
}

h2 {
  font-size: 30px;
  font-weight: 550;
}

#img2 {
  width: 80%;
  box-shadow: 5px 5px 19px 6px rgb(214, 210, 210);
}

.white-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 180vh;
  width: 100%;
  border-bottom: 1px solid rgb(128, 128, 128, 0.2);
}

.white-1-container {
  width: 90%;
  min-height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.white-1-container > section {
  width: 35%;
  margin: 0 100px;
}

p {
  font-size: 18px;
}

.learn-more {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.learn-more > section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  min-height: 60vh;
}

.card-container {
  min-height: 40vh;
  transition: min-height 0.2s, width 0.2s;
  width: 24%;
}

.cards {
  min-height: 55vh;
  width: 100%;
  box-shadow: 0 0 10px 1px gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: box-shadow 0.2s;
  padding: 10px;
  position: relative;
}

.cards:hover {
  box-shadow: 0 0 13px 2px rgb(194, 194, 194);
  cursor: pointer;
}

.cards img {
  width: 100%;
}

.text3 {
  font-size: 14px;
  color: rgb(88, 85, 85);
}

h3 {
  font-size: 25px;
  font-weight: 535;
  margin: 0;
  margin-top: 5px;
}

.cards-footer {
  color: #1163a3;
  width: 100%;
  min-height: 1vh;
}

#arrow {
  float: right;
}

i {
  font-size: 20px;
}
